{% extends "base.html" %}

{% block title %}Detección de Figuras en Video{% endblock %}

{% block content %}
<h1>Detección de Figuras y Colores en Video</h1>

<div class="section">
    <h2>Subir Video</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <label for="video">Selecciona un archivo de video:</label>
        <input type="file" id="video" name="video" accept="video/*" required>
        <button type="submit">Procesar Video</button>
    </form>
</div>

{% if processed_video %}
<div class="section">
    <h2>Video Procesado</h2>
    <video width="100%" controls>
        <source src="{{ url_for('static', filename='processed_videos/' + processed_video) }}" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
    <a href="{{ url_for('static', filename='processed_videos/' + processed_video) }}" download>Descargar Video</a>
    <a href="{{ url_for('delete_video', filename=processed_video) }}" class="delete-link" onclick="return confirm('¿Estás seguro de que quieres eliminar este video?');">Eliminar Video</a>
</div>
{% endif %}
{% endblock %}

